.main {
    min-height: calc(100vh - 100px);
    padding-left: 100px;
    overflow-x: hidden;

    @media (max-width:768px) {
        padding-left: 0px;
    }

    h2 {
        margin: 1.5vh 0;
    }

    h3 {
        margin: 1vh 0;
    }
}

.mainConteiner {
    padding: 10px;
    height: calc(100vh - 50px);
    margin: 0 auto;

}

.mainConteinerPages {
    display: flex;
}

.mainConteinerPBtn,
.mainConteinerPBtnActive {
    min-width: 20px;
    width: 10%;
}

.mainConteinerPBtnActive {
    border: 4px solid var(--main-color-mh);
    font-weight: var(--front-w7);
}