.navbar {
    position: absolute;
    height: 100vh;
    padding: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--main-color-menu);


}

.navbarLink {


    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-d);
    background-color: var(--main-color-menu-m);
    border: 2px solid var(--main-color-menu-m);
    width: 50px;
    height: 50px;
    transition: background 0.3s ease 0s;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 2vh;
    margin-bottom: 2vh;

    &:hover {
        background: var(--main-color-menu-h) !important;
    }


}

// .navbarLink {
//     &:nth-child(1) {
//         background: url('./img/1.svg') center/24px 24px no-repeat !important;
//     }

//     &:nth-child(2) {
//         background: url('./img/2.svg') center/24px 24px no-repeat !important;
//     }

//     &:nth-child(3) {
//         background: url('./img/3.svg') center/24px 24px no-repeat !important;
//     }

//     &:nth-child(4) {
//         background: url('./img/4.svg') center/24px 24px no-repeat !important;
//     }
// }

@media (max-width:768px) {


    .navbar {
        position: static;
        height: 55px;
        padding: 10px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: var(--main-color-menu);
        color: var(--main-color-d);

    }

    .navbarLink {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color-d);
        background-color: var(--main-color-menu-m);
        border: 2px solid var(--main-color-menu-m);
        width: 50px;
        height: 50px;
        transition: background 0.3s ease 0s;
        border-radius: 10px;
        font-size: 18px;

    }
}