.navbar {
    position: absolute;
    height: 100vh;
    padding: 10px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--main-color-d);
    color: var(--main-color-w);

}

.navbarLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-w);
    background-color: var(--main-color-o);
    border: 2px solid var(--main-color-w);
    width: 100px;
    height: 40px;
    transition: background 0.3s ease 0s;
    border-radius: 10px;
    font-size: 14px;

}
@media (max-width:768px) {
    .navbar {
        position: static;
        height: 50px;
        padding: 10px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: var(--main-color-d);
        color: var(--main-color-w);
    
    }
    
    .navbarLink {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color-w);
        background-color: var(--main-color-o);
        border: 2px solid var(--main-color-w);
        width: 240px;
        height: 40px;
        transition: background 0.3s ease 0s;
        border-radius: 10px;
        font-size: 18px;
    
    }
}